.status {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    font-size: 1.4em;
}

.full {
    flex: 1 100%;
}

.grow {
    flex: 2 auto;
}

.huge {
    font-size: 2em;
}

.isOK {
    background: #4c4;
}

.isError {
    background: #c44;
}

.box {
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {background-color: #f00; }
}